<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="cn" connectionString="Data Source=DESKTOP-5J4M8U3;Initial Catalog=agenda;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ContatoServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:61292/ContatoService.asmx"
        binding="basicHttpBinding" bindingConfiguration="ContatoServiceSoap"
        contract="CRUDService.ContatoServiceSoap" name="ContatoServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>